body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

header {
    background: #1e1beb2c;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

nav {
    margin: 20px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

nav a:hover {
    background: #012fff;
    color: white;
}

main {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #1b99ee;
    border-bottom: 2px solid #0a040f;
    padding-bottom: 5px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.responsive {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

blockquote {
    border-left: 4px solid #4CAF50;
    padding-left: 10px;
    margin: 10px 0;
    color: #555;
    font-style: italic;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #777;
}
img{
     width: 200;
     height: 50;
}